<div class="container" style="margin-bottom: 30px;">
  <div class="row">
    <div class="col-12">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <%= link_to 'Allergens', alergens_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Customers', customers_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Daily Menus', menus_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Meals', meals_path, :class => 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</div>